.root {
  display: grid;
  gap: 16px;
  grid-template-columns: var(--filters-grid-columns);
}

@media (max-width: 1200px) {
  .root {
    grid-template-columns: var(--filters-grid-tablet-columns);
  }
}

@media (max-width: 768px) {
  .root {
    grid-template-columns: 1fr;
  }
}
